/*.container {
	width: 600px;
	border: 1px solid black;
	margin: auto;
	padding: 5px;
}*/
.satu, .dua, .tiga {
	width: 100px;
	height: 100px;
}
.satu {
	background-color: salmon;
}
.dua {
	background-color: limegreen;
	float: left;
}
.tiga {
	background-color: lightskyblue;
}